# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Paul Logston
	email = paul.logston@gmail.com
	signingkey = 3D5749A33D6DDEF2
[core]
	excludesfile = ~/.gitignore_global
[init]
	templateDir = ~/.git-template
	defaultBranch = main
[fetch]
	prune = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
	template = ~/.git_commit_message
[pull]
	ff = only
[rerere]
	enabled = true
