*.swp

.ctags-index
.DS_Store
.CFUserTextEncoding

neovim/.config/nvim/undodir
neovim/.config/gcloud/
neovim/.config/coc/

# 9999-* are machine specific zsh scripts
zsh/.zsh.d/9999-*

# Machine specific tmux file
tmux/.tmux.local.conf
